<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>s_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 61}, {158, 176}}</string>
			<key>spriteOffset</key>
			<string>{-1, -24}</string>
			<key>spriteSize</key>
			<string>{158, 176}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{352, 178}, {158, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>s_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 61}, {158, 176}}</string>
			<key>spriteOffset</key>
			<string>{1, -24}</string>
			<key>spriteSize</key>
			<string>{158, 176}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{352, 0}, {158, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>s_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 60}, {156, 176}}</string>
			<key>spriteOffset</key>
			<string>{2, -23}</string>
			<key>spriteSize</key>
			<string>{156, 176}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 354}, {156, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>s_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 58}, {164, 180}}</string>
			<key>spriteOffset</key>
			<string>{1, -23}</string>
			<key>spriteSize</key>
			<string>{164, 180}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{186, 0}, {164, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>s_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 56}, {184, 182}}</string>
			<key>spriteOffset</key>
			<string>{5, -22}</string>
			<key>spriteSize</key>
			<string>{184, 182}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {184, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>s_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 67}, {164, 168}}</string>
			<key>spriteOffset</key>
			<string>{6, -26}</string>
			<key>spriteSize</key>
			<string>{164, 168}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 184}, {164, 168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>s_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 61}, {158, 176}}</string>
			<key>spriteOffset</key>
			<string>{1, -24}</string>
			<key>spriteSize</key>
			<string>{158, 176}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{352, 356}, {158, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>s_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 58}, {164, 180}}</string>
			<key>spriteOffset</key>
			<string>{1, -23}</string>
			<key>spriteSize</key>
			<string>{164, 180}</string>
			<key>spriteSourceSize</key>
			<string>{200, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{186, 182}, {164, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 1024}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>luoli</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>luoli</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>